{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <center>
  <table >
  <tr>
  <td style="text-align: left;">
  {% if target %}
    <form  action="{{ url_for('update_entry')}}?tool_id={{ target.id }}" method="post" class="add-entry">
    {% else %}
    <form  action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    {% endif%}
      <dl>
        <dt><p align="top">名称:</p>
        {% if target %}
        <input type="text" size="30" name="title" value="{{target.title}}">
        {% else %}
        <input type="text" size="30" name="title">
        {% endif%}
      </dl>
      <dl>
        <dt><p align="top">类型:</p>
        {% if target %}
        <input type="text" size="30" name="tooltype" value="{{target.tooltype}}">
        {% else %}
        <input type="text" size="30" name="tooltype">
        {% endif%}
      </dl>
      <dl>
        <dt><p align="top">路径:</p>
         {% if target %}
        <input type="text" size="30" name="toolpath" value="{{target.toolpath}}">
        {% else %}
        <input type="text" size="30" name="toolpath" value="格式为：模块.类.方法">
        {% endif%}
      </dl>
      <dl>
        <dt><p align="top">描述:</p>
        {% if target %}
        <textarea name="content" rows="5" cols="40">{{target.content}}</textarea>
        {% else %}
        <textarea name="content" rows="5" cols="40"></textarea>
        {% endif%}
        
      </dl>
            <dl>
        <dt><p align="top">参数:</p>
<select  name="hasargs">
{% if target and target.hasargs == 0 %}
  <option value ="0" selected="true">无</option>
  <option value ="1">有</option>
{% else %}
  <option value ="0" >无</option>
  <option value ="1" selected="true">有</option>
{% endif%}
</select>
      </dl>
      <dl>
        <dt><p align="top">权限:</p>
<select  name="auth">
{% if target and target.auth == 0 %}
  <option value ="0" selected="true">仅管理员</option>
  <option value ="1">所有人员</option>
  {% else %}
    <option value ="0">仅管理员</option>
  <option value ="1" selected="true">所有人员</option>
  {% endif%}
</select>
      </dl>
      <dl>
        <dt><p align="top">状态:</p>
<select  name="showtag">
{% if target and target.showtag == 0 %}
  <option value ="0" selected="true">关闭</option>
  <option value ="1">显示</option>
    {% else %}
      <option value ="0">关闭</option>
  <option value ="1" selected="true">显示</option>
      {% endif%}
</select>
      </dl>
      <dl style="text-align: center;">
      {% if target %}
      <input type="submit" value="更新" >
      {% else %}
      <input type="submit" value="添加" >
      {% endif%}
      </dl>
    </form>
    </td>
    </tr>

    </table>
    </center>
 
  {% endif %}
 <hr>
 <center>
  {% if not target %}

  <h2>所有工具</h2>
  <table class="table">

    <thead>
 <th>工具编号</th>
<th>工具名称</th>
<th>使用权限</th>
<th>状态</th>
<th>类型</th>
<th>修改</th>
<th>删除</th>
</thead>

  {% for entry in entries %}
    <tr>
    <td>
    {{ entry.id }}
    </td>
    <td><a href="{{ url_for('detail')}}?tool_id={{ entry.id }}">{{ entry.title }}</a>
    </td>
    <td>
    {% if entry.auth == 0 %}
    管理员
    {% else%}
    所有人
    {% endif %}
    </td>
    <td>
    {% if entry.showtag == 0 %}
    关闭
    {% else%}
    显示
    {% endif %}
    </td>
        <td>
    {{entry.tooltype}}
    </td>
     <td>
    <a href="{{ url_for('update')}}?tool_id={{ entry.id }}">修改</a>
    </td>
    <td>
    <a href="{{ url_for('delete')}}?tool_id={{ entry.id }}">删除</a>
    </td>
  {% else %}
    <em>目前没有任何工具</em>
    </tr>
  {% endfor %}
  </table>
  {% endif %}
   </center>
{% endblock %}