{% extends "layout.html" %}
{% block body %}
 
   <ul class="entries">
<center> 
<table>
<tr>
<td>
  {% if tool_titile %}
  {{ tool_titile }}
  {% endif %}
  </td>
</tr>
<tr>
<td>
  {% if tool_des %}
  简介：{{ tool_des }}
  {% endif %}
  </td>
  </tr>
  </table>
</center> 
  </ul>
  <center> 
   <form action="{{ url_for('execute') }}" method="post">
    
    <dl>
    <input type="hidden"  name="tool_id" value="{{ tool_id }}"> 
  {% if tool_hasargs != 0 %}
  参数: 
 <input type="text" name="args">
  {% else %}
  <input type=hidden name="args">
  {% endif %}
     <input type="submit" value="执行">
    </dl>
  </form>
  <center> 
{% endblock %}